.stock-info {
    background-color: #1a1a1a;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    color: #ffffff;
    display: flex;
    flex-direction: column;
    box-sizing: border-box; 
  }
  
.stock-header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 20px;
}

.stock-title{
    margin: 0 10px;
}

.stock-title h1 {
    margin: 10px;
    font-size: 24px;
    font-weight: bold;
    margin: 0;
}
  
.stock-title h2 {
    font-size: 18px;
    color: #b3b3b3;
    margin: 5px 0 0;
}
  
.stock-price {
    text-align: right;
}
  
.stock-price h1 {
    font-size: 24px;
    font-weight: bold;
    margin: 0;
}

.price-change {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 5px;
}
  
.price-change.positive {
    color: #4caf50;
}
  
.price-change.negative {
    color: #f44336;
}
  
.price-change span {
    margin-left: 5px;
}
  
.stock-details {
    display: flex;
    flex-direction: row;
    width:100%;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
  
.detail-item {
    background-color: #2a2a2a;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    flex-grow: 1;
    text-align: center;
}
  
.detail-item-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #b3b3b3;
    margin-bottom: 5px;
}
  
.detail-item-header svg {
    margin-right: 5px;
}
  
.detail-item-value {
    font-size: 18px;
}
  
.buy-section {
    display: flex;
}
  
.quantity-input {
    background-color: #2a2a2a;
    border: 1px solid #444;
    color: #ffffff;
    padding: 8px;
    border-radius: 4px 0 0 4px;
    width: 80px;
}
  
.buy-button {
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
    transition: background-color 0.3s;
}
  
.buy-button:hover {
    background-color: #45a049;
}
  